/* Azure Screen Styles */

body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: #FFF;
  font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #000;
}

#container {
	margin: 0 auto;
	padding: 0;
	width: 750px;
	text-align: left;
}
	
#inner_container {
	margin: 0 auto;
	width: 750px;
}
		
#header { 
	width: 750px;
	height: 50px;
	background: url(../../images/theme/hdr.png) left top no-repeat;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
	text-align: left;
}
	
#content-wrapper {
	margin-top: 0px;
	background: url(../../images/theme/single_column_top.png) left top no-repeat;
	background-color: #000;
  color: #AAA;
}

#content {
	margin-top: 0px;
	background: url(../../images/theme/single_column_bottom.png) left bottom no-repeat;
}

#main { 
	float: left;
	width: 500px;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 1px;
}

#sidebar {
	margin-top: 20px;
	width: 200px;
	float: right;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 20px;
	background: #222222;
}
	
	
/*+-------------------------------------------+
  |   			LINKS 						  |
  +-------------------------------------------+*/
  a {
  	color: #267DB8;
	  text-decoration: none;
	}
	
  a:hover { 
    color: #267DB8; 
    text-decoration: underline;
  }
/*+-------------------------------------------+
  |   			UTILITY 					  |
  +-------------------------------------------+*/
  
  h1, h2, h3, h4, h5, h6 {
  	margin: 0;
	  padding: 0;
	}
	
  form, div { 
   padding: 0; 
   margin: 0; 
  }

  p { 
    margin: 0 0 1em 0; 
    padding: 0; 
  }

  img { 
    border: 0;
  }

  
/*+-------------------------------------------+
  |   			HEADER 						  |
  +-------------------------------------------+*/

  #logo {
    padding-top: 0px;
    padding-bottom: 0px;
	}  	
	
  #logo h1 a { 
    color: #5189B5; 
    text-decoration: none; 
    border: none; 
  }
  
  #logo h2 { 
    color: #85AB02; 
    padding-top: .2em; 
    font-size: 1.2em; 
    text-decoration: underline;
  }

/*+-------------------------------------------+
  |   			        SEARCH     						    |
  +-------------------------------------------+*/	

  #search-container { 
    padding-top: 10px;
    margin-left: 5px;
    font-size: 90%;
  }

  #sform { 
   padding-top: 10px; 
  }
 
  #sidebar #searchform #s {
	  width: 130px;
	  margin-top: 60px;
	  margin-left: 10px;
	}

  #sidebar #searchsubmit {
	  padding: 1px;
	}
	
  #search-results {
    padding: 2px;
  }
  

/*+-------------------------------------------+
  |   			POST 						                  |
  +-------------------------------------------+*/
  .post {
  	margin-top: 20px;
  	margin-bottom: 0px;
  	margin-left: 5px;
  	margin-right: 5px;
	  border: 1px solid #000000;
	  padding: 0px;
	  background: #2B2B2B url(../../images/theme/post-foot.gif) bottom repeat-x;
	}
	
  .post h2 {
    font-family: "Arial narrow", Verdana, Arial, Helvetica, sans-serif;
	  background: #373737 url(../../images/theme/grad-bar.png);
    font-size: 1.3em;
    font-weight: normal;
  	height: 25px;
  	margin-top: 0px;
  	margin-bottom: 0px;
  	margin-left: 0px;
  	margin-right: 0px;
  	padding: 0px;
  	color: #2A81BB;
  	text-indent: 5px;
  	border-bottom: none;
	}

  .post h3 {
    font-family: "Arial narrow", Verdana, Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.15em;
    font-weight: bold;
    text-indent: 1px;
    border: none;
    color: #BBB;
    border-bottom: 2px solid #000;
    background: none;
	}
	
  .post h2 a {
  	color: #2A81BB;
  	text-decoration: none;
  	border: none;
	}
	
  .post h2 a:hover {
  	color: #2A81BB;
  	text-decoration: underline;
	}

  .post p {
  	text-align: left;
    font-size: 0.9em;
  	margin-top:  5px;
  	margin-left:  10px;
  	margin-right: 10px;
	}
	
  p.meta {
  	font-size: 75%;
  	text-align: right;
  	margin-right: 10px;
  	margin-top: 10px;
	}
	
  p.auth {
 	  padding: 0px;
	  font-size: 75%;
	  font-weight: bold;
	  color: #881111;
	}
	
  h4.blueblk {
 	  background: #373637;
 	  padding: 5px;
 	  margin: 10px 0 0 10px;
 	  border: 1px solid #000000;
 	}
 	
  /*+-------------------------------------------+
    |   		     post highlight style 			    |
    +-------------------------------------------+*/
  div.highlight-wrapper {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  
  div.highlight {
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #111;
    color: #888;
  }
  
  div.highlight p {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
    font-weight: normal;
  }
  
  div.highlight h1 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.15em;
    font-weight: normal;
  }
  
  div.highlight a {
    color: #1F72A8;
    text-decoration: none;
  }
  
  div.highlight a:visited {
    color: #1F72A8;
    text-decoration: none;
  }
  
  div.highlight a:hover {
    color: #1F72A8;
    text-decoration: underline;
  }
  
  div.highlight a:visited:hover {
    color: #1F72A8;
    text-decoration: underline;
  }
 
 /*+-------------------------------------------+
  |   			      COMMENTS						         |
  +-------------------------------------------+*/
  .comment-list li {
  	background: #373637;
  	padding: 5px;
    margin-left: 5px;
  	margin-bottom: 8px;
  	color: #767676;
  	border-left: 1px solid #434343;
  	border-top: 1px solid #434343;
  	border-bottom: 1px solid #101010;
  	border-right: 1px solid #101010;
  }
  	
 /*+-------------------------------------------+
  |   			SIDEBAR 						               |
  +-------------------------------------------+*/
  
  #sidebar h3 {
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
 		color: #AAA;
 		font-weight: bold;
 		font-size: 100%;
 		margin-top: 10px;
		margin-left: 5px;
 	}
 		
  #sidebar h3 a {
		color: #5189B5;
		border-bottom: 1px dotted #5189B5;
	}

  #sidebar h3 a:hover { 
     color: #85ab02; 
     border-bottom-color: #85ab02; 
  }

  #sidebar ul {
 		margin: 0;
 		padding: 0;
		margin-left: 5px;
 		list-style-type: none;
  }
 		
  #sidebar ul li { 
 	  background: url(../../images/theme/black-list-bullet.png) 0 45% no-repeat;
 	  padding-left: 20px;
 	  font-size: 0.9em;
 	}
 	 
  #flickr div img {
 	  border: 4px solid #3E3E3E;
 	}
 	
  #flickr div {
    width: 108px;
 	  border: 2px solid #0F0F0F;
 	  margin-bottom: 5px;
 	}

  #flickr div.flickrsquare { 
    width: 82px;
    border-right: 3px solid #0F0F0F;
    float: left;
    margin-right: 5px;
    margin-right: 5px;
  }

  #flickr div a { 
    border: none; 
  }
  
 /*+-------------------------------------------+
   |   			FOOTER 						                 |
   +-------------------------------------------+*/
  
  #footer {
    color: #000;
    float: left;
    font-size: 85%;
    margin-top: 10px;
  }
  
  #footer p {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  #footer a {
  	color: #AA1111;
	  text-decoration: none;
	}
	
  #footer a:hover { 
    color: #AA1111; 
    text-decoration: underline;
  }  
  	
 /*+-------------------------------------------+
   |   			       FORMS 						           |
   +-------------------------------------------+*/
   
  input, textarea, select {
	  border: 1px solid #000000;
	  background: #373737;
	  color: #767676;
 	}
 	
 	.frm-tbl td { 
 	  vertical-align: top; 
 	  padding: 5px; 
 	}
 	
 	td#frm-btns { 
 	  text-align: right; 
 	}
 	
 	#comment_body { 
 	  height: 220px; 
 	}
 	
 	#form-submit-button { 
 	  background: #373737; 
 	}
  
 /*+-------------------------------------------+
   |   		          	MISC 						         |
   +-------------------------------------------+*/
   
  .powered { 
    border: none; 
  }
  
  .powered img { 
    margin-top: 20px; 
    margin-left: 5px; 
    margin-bottom: 5px; 
  }
  
  .pullquote {
		width: 30%;
		float:right;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
		color: #666;
		margin:10px;
		background: url(../../images/theme/q-close.gif) no-repeat 70% 100% !important;
		background /**/:url(); /* removing quote graphic in IE5+ */
		padding: 0 25px 5px 0;
  }
  
  .pullquote:first-letter {
  	background: url(../../images/theme/q-open.gif) no-repeat left top !important;
  	padding:5px 2px 10px 35px!important;
  	padding /**/:0px; 	/* resetting padding in IE5+ */
  	background /**/: url(); /* removing quote graphic in IE5+ */
  }

  .light-bg { 
    background: #282828; padding: 2px; 
  }
 
  .clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
  }
 
  #errors {
    color: red;
  }

  .admintools {
    float: right;
    background-color: #fff;
    font-size: smaller;
    padding: 0 2px;
    margin: 0 1px;
    color: #000;
    border: 1px solid #ccc;
  }

  .admintools:hover {
    color: #c00;
    border: 1px solid #c00;
  }

  a[name] { 
    border: none; 
  }

 /* Hides from IE-mac \*/
 * html .clearfix {height: 1%;}
 /* End hide from IE-mac */

  .clear {
    clear: both;
  }
  
  #categories li em, #archives li em {
    color: #D1D1D1;
    font-size: smaller;
  }

 /*+-------------------------------------------+
   |   		     navigation style 			       	 |
   +-------------------------------------------+*/
  #navigation-wrapper {
    color: #AAA;
    background-color: #000;
    padding-top: 0px;
    padding-bottom: 10px;
    background: url(../../images/theme/grad-bar.png) repeat-x left top;
    height: 35px;
  }

  #navigation {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    text-align: left;
  }

  #navigation strong {
    color: #900;
  }

  #navigation a {
    color: #AAA;
    text-decoration: none;
  }

  #navigation a:visited {
    color: #AAA;
    text-decoration: none;
  }

  #navigation a:hover {
    color: #AAA;
    text-decoration: none;
  }

  #navigation a:visited:hover {
    color: #AAA;
    text-decoration: none;
  }

  #navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #navigation li {
    display: inline;
    padding: 0px;
    margin: 0px;
    margin-top: 2px;
    margin-right: 10px;
    font-size: 1.30em;
    font-weight: normal;
    letter-spacing: -1px;
  }

 /*+-------------------------------------------+
   |   		     table definition style       	 |
   +-------------------------------------------+*/
  table.definitions {
    width: 482px;
    margin-left: 3px;
  }
  td.term {
    padding-left: 10px;
    padding-top: 5px;;
    padding-bottom: 5px;
    padding-right: 10px;
    font-weight: bold;
    color: #9B8903;
    font-size: 0.9em;
    background-color: #111;
  }
  td.definition {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;;
    padding-bottom: 5px;
    font-size: 0.9em;
    font-weight: normal;
    background-color: #111;
    color: #888;
  }
  table.definitions p {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.0em;
  }
     
 /*+-------------------------------------------+
   |   		     code style       			       	 |
   +-------------------------------------------+*/
  .typocode_ruby .normal {}
  .typocode_ruby .comment { color: #005; font-style: italic; }
  .typocode_ruby .keyword { color: #A00; font-weight: bold; }
  .typocode_ruby .method { color: #077; }
  .typocode_ruby .class { color: #074; }
  .typocode_ruby .module { color: #050; }
  .typocode_ruby .punct { color: #CCC; font-weight: bold; }
  .typocode_ruby .symbol { color: #099; }
  .typocode_ruby .string { color: #944; background: #FFE; }
  .typocode_ruby .char { color: #F07; }
  .typocode_ruby .ident { color: #777; }
  .typocode_ruby .constant { color: #07F; }
  .typocode_ruby .regex { color: #B66; background: #FEF; }
  .typocode_ruby .number { color: #F99; }
  .typocode_ruby .attribute { color: #7BB; }
  .typocode_ruby .global { color: #7FB; }
  .typocode_ruby .expr { color: #227; }
  .typocode_ruby .escape { color: #277; }
  .typocode_xml .normal {}
  .typocode_xml .namespace { color: #B66; font-weight: bold; }
  .typocode_xml .tag { color: #F88; }
  .typocode_xml .comment { color: #005; font-style: italic; }
  .typocode_xml .punct { color: #447; font-weight: bold; }
  .typocode_xml .string { color: #944; }
  .typocode_xml .number { color: #F99; }
  .typocode_xml .attribute { color: #BB7; }
  .typocode_yaml .normal {}
  .typocode_yaml .document { font-weight: bold; color: #07F; }
  .typocode_yaml .type { font-weight: bold; color: #05C; }
  .typocode_yaml .key { color: #F88; }
  .typocode_yaml .comment { color: #005; font-style: italic; }
  .typocode_yaml .punct { color: #447; font-weight: bold; }
  .typocode_yaml .string { color: #944; }
  .typocode_yaml .number { color: #F99; }
  .typocode_yaml .time { color: #F99; }
  .typocode_yaml .date { color: #F99; }
  .typocode_yaml .ref { color: #944; }
  .typocode_yaml .anchor { color: #944; }
  
  .typocode {
    background-color:#111;
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .typocode pre {
    padding: 0px;
    margin: 0px;
    background: transparent;
    font-family: monospace;
    overflow:auto;
  }
  
  
  .typocode .lineno {
    text-align: right;
  /*  color: #B00;*/
    font-family: monospace;
    padding-right: 1em;
  }
  
  code {
    font-size:120%;
  }
     