/******* page style *******/
#page {
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  text-align: left;
}
/******* page section style *******/
#page div.section-wrapper {
  background: url(/planb/images/single_column_top.png) no-repeat left top;
  background-color: #000;
  color: #AAA;
}
#page div.section {
  padding-top: 30px;
  padding-bottom: 30px;
  background: url(/planb/images/single_column_bottom.png) no-repeat left bottom;
}
#page div.section p {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.1em;
  font-weight: normal;
}
#page div.section h1 {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 0px;
  border-bottom: none;
  text-indent: 10px;
  border: 1px solid #111;
  color: #700;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  background: url(/planb/images/grad_bar.png) repeat-x left bottom;
}
#page div.section h1 a {
  color: #276188;
  text-decoration: none;
}
#page div.section h1 a:visited {
  color: #276188;
  text-decoration: none;
}
#page div.section h1 a:hover {
  color: #276188;
  text-decoration: underline;
}
#page div.section h1 a:visited:hover {
  color: #276188;
  text-decoration: underline;
}
#page div.section a {
  color: #267DB8;
  text-decoration: none;
}
#page div.section a:visited {
  color: #267DB8;
  text-decoration: none;
}
#page div.section a:hover {
  color: #267DB8;
  text-decoration: underline;
}
#page div.section a:visited:hover {
  color: #267DB8;
  text-decoration: underline;
}
/******* page subsection style *******/
#page div.subsection-wrapper {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 20px;
}
#page div.subsection {
  padding-top: 5px;
  padding-bottom: 15px;
  background-color: #222;
}
#page div.subsection p {
  color: #999;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}
#page div.subsection p strong {
  font-size: 1.0em;
  font-weight: normal;
}
#page div.subsection h1 {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 1px;
  font-size: 1.5em;
  font-weight: lighter;
  text-indent: 0px;
  border: none;
  color: #CCC;
  border-bottom: 2px solid #000;
  background: none;
}
/******* table definition style *******/
.definitions {
  width: 685px;
  padding-left: 15px;
}

.definition {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;;
  padding-bottom: 5px;
  font-size: 1.2em;
  font-weight: normal;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  background-color: #111;
  color: #888;
}
.term {
  padding-left: 15px;
  padding-top: 5px;;
  padding-bottom: 5px;
  padding-right: 15px;
  font-weight: bold;
  color: #9B8903;
  font-size: 1.2em;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  background-color: #111;
}
/******* feature list definition style *******/
.feature-list {
  padding-left: 15px;
  width: 685px;
}
.feature {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;;
  padding-bottom: 5px;
  background-color: #111;
  list-style-type: none;
}
